mat-card {
    flex:1;
    margin:10px 15px 10px 15px;
    /*height:150px;*/
    height:75%;
    /*width:250px;*/
    width:75%;

}

.display-card-title{
    font-size: 1em;
}

.display-card-subtitle{
    font-size: .75em;
}

.display-num {
    font-size: 5em;
}