#dashboard-main{
    padding:1%;
}

div#dashboard__filter {
    width: 100%;
}

#dashboard-cards {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
}

#dashboard-cards > data-card {
    flex-basis: 25%;  /*May not work on most browsers */
}

.inner-tab {
    padding: 0 5%;
}