<div id="app__main" fxLayout="column">
	<div>
		<navbar>
		</navbar>
	</div>
	<div id="app__main-content" fxFlex="90%">
		<mat-sidenav-container fxHide.lt-sm="TRUE">
			<mat-sidenav mode="side" opened>
				<div id="side-nav" class="flex-col">
					<mat-list>
						<div fxLayout="row">
							<mat-icon fxFlex="30%" fxLayoutAlign="start">home</mat-icon>
							<h3 class="app__side-nav__content" fxFlex="50%"> Home</h3>
							<mat-icon>keyboard_arrow_right</mat-icon>
						</div>
						<mat-divider></mat-divider>
						<mat-list-item> <a routerLink="/">Home Page</a> </mat-list-item>
						<mat-list-item> <a routerLink="/">Med Survey</a> </mat-list-item>
						<div fxLayout="row">
							<mat-icon fxFlex="30%">equalizer</mat-icon>
							<h3 class="app__side-nav__content" fxFlex="60%">Reports</h3>
							<mat-icon>keyboard_arrow_right</mat-icon>
						</div>
						<mat-divider></mat-divider>
						<mat-list-item> <a routerLink="/">Dashboard</a> </mat-list-item>
						<mat-list-item> <a routerLink="/chart/bar">Bar Chart</a> </mat-list-item>
						<mat-list-item> <a routerLink="/chart/map">Map Chart</a> </mat-list-item>
						<mat-list-item> <a routerLink="/ses-disadvantaged">SES</a> </mat-list-item>
					</mat-list>
				</div>
			</mat-sidenav>
			<mat-sidenav-content class="scroll">
				<div *ngIf="loading$ | async ; else showRouter">
					<mat-spinner></mat-spinner>
				</div>
				<div class="main-route">
					<ng-template #showRouter>
						<router-outlet></router-outlet>
					</ng-template>
				</div>
			</mat-sidenav-content>
			<mat-sidenav position="end" mode="side" opened style='background-color:lightgrey'></mat-sidenav>
		</mat-sidenav-container>
		<div id="main-content__mobile" fxHide.gt-xs="TRUE">
			<div fxLayout="column">
				<div fxFlex="10%">
					<mat-toolbar>
						<div fxLayout="row">
							<button mat-button [matMenuTriggerFor]="menu"><mat-icon fxFlex="30%">dehaze</mat-icon></button>
							<mat-menu #menu="matMenu">
								<button mat-menu-item [matMenuTriggerFor]="home">Home</button>
								<button mat-menu-item [matMenuTriggerFor]="reports">Reports</button>
							</mat-menu>

							<mat-menu #home="matMenu">
								<button mat-menu-item>Home Page</button>
								<button mat-menu-item>Med Survey</button>
							</mat-menu>

							<mat-menu #reports="matMenu">
								<button mat-menu-item>Dashboard</button>
								<button mat-menu-item>Bar Chart</button>
								<button mat-menu-item>SES</button>
								<button mat-menu-item>Choose Med School</button>
							</mat-menu>
						</div>
					</mat-toolbar>
				</div>
				<div>
					<div *ngIf="loading$ | async ; else showRouter">
						<mat-spinner></mat-spinner>
					</div>
					<div class="main-route">
						<ng-template #showRouter>
							<router-outlet></router-outlet>
						</ng-template>
					</div>
				</div>
			</div>
		</div>
	</div>
	<app-footer>
	</app-footer>
</div>

<!--The content below is only a placeholder and can be replaced.
<div id="main">
	<header>
		<div id="header">
			<div>
				<mat-toolbar color="primary">
					<h1>AAMC</h1>
				</mat-toolbar>
			</div>
			<div class="flex-2" style="background-color:pink"></div>
			<div class='flex-1'>
				<mat-menu #appMenu="matMenu">
					<button mat-menu-item>Settings</button>
					<button mat-menu-item>Help</button>
				</mat-menu>

				<button mat-icon-button [matMenuTriggerFor]="appMenu">
				<mat-icon>more_vert</mat-icon>
			</button>
			</div>
		</div>
	</header>
	<mat-sidenav-container class="flex-1">
		<mat-sidenav mode="side" opened>
			<div id="side-nav" class="flex-col">
				<mat-list>
					<h2>AMCAS</h2>
					<mat-divider></mat-divider>
					<mat-list-item> <a routerLink="/">Dashboard (Home)</a> </mat-list-item>
					<mat-list-item> <a routerLink="/chart/bar">Bar Chart</a> </mat-list-item>
					<mat-list-item> <a routerLink="/chart/map">Map Chart</a> </mat-list-item>
					<mat-list-item> <a routerLink="/ses-disadvantaged">SES Disadvantaged</a> </mat-list-item>
				</mat-list>
			</div>
		</mat-sidenav>
		<mat-sidenav-content>
		<div *ngIf="loading$ | async ; else showRouter">
				<mat-spinner></mat-spinner>
			</div>
			<div class="main-route">
				<ng-template #showRouter>
					<router-outlet></router-outlet>
				</ng-template>
			</div>
		</mat-sidenav-content>
		<mat-sidenav position="end" mode="side" opened style='background-color:lightgrey'></mat-sidenav>
	</mat-sidenav-container>
	<mat-toolbar class="example-footer">Footer</mat-toolbar>
</div>
-->