#main{
    display: flex;
    flex-direction:column;
    flex: 1;
}

#header {
    order: -1;
    background-color: blue;
    display: flex;
    flex-direction: row;
}

mat-sidenav-container {
   background-color: lightgray; 
}

#user-dd{
    flex: 1;
}

#content {
    flex: 1;
}

.deep-purple{
    background-color: purple;
    color: white;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-footer {
    background-color: red;
}

