<footer class="page-footer">
	<div fxLayout="row">
		<div fxFlex="33%">
			Copyright &copy; AAMC 2018
		</div>
		<div fxFlex="66%">
			<div fxLayout="row">
				<div fxFlex="50%">
					655 K Street, NW, Suite 100, Washington, DC, 20001-2399
				</div>
        <div fxFlex="50%">
          <ul>
            <li>
              <a href="https://apps.development.aamc.org/amcas/"> Contact Us</a>
            </li>
            <li>
              <a href="https://www.aamc.org/about/follow/">Follow Us</a>
            </li>
            <li>
              <a href="https://www.aamc.org/44864/terms.html">Terms and Condtions</a>
            </li>
            <li>
              <a href="https://www.aamc.org/44866/privacy.html">Privacy Statment</a>                            
            </li>
          </ul>
        </div>
			</div>
		</div>
	</div>
</footer>