#dashboard-main{
    padding:1%;
}

#dashboard-filters {
    padding: 1% 0;
}

#dashboard-cards {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
}

#dashboard-cards > data-card {
    flex-basis: 33%;  /*May not work on most browsers */
}