/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'node_modules/material-design-icons/iconfont/material-icons.css';
body {
    margin:0;
    background-color: lightgray;
    width: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav {
    width: 300px;
    background-color:#f5f5f5;
    padding: 1%;
}

.std-color{
    background-color: #f5f5f5;
    box-shadow: 5px 5px 5px 0px rgba(159,155,155,0.75);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(159,155,155,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(159,155,155,0.75);
}

.no-margin-left {
    margin-left: 0;
}

.padding-1 {
    padding: 1%;
}

.text__title {
    text-align: center;
    margin: 0 auto;
    padding: 5px 0;
}

.border-purple{
    border-color: rebeccapurple;
}

.flex-col{
    flex-direction: column;
}

.flow-row{
    display: flex;
    flex-direction: row;
}

.flex-1 {
    flex:1;
}

.flex-2 {
    flex:2;
}

.increase{
    color: green;
    font-weight:bold
}

.ng-route-container{
   background-color: green;
   height: 100%;
}

.ng-route-content{
   background-color: green;
   padding: 25px;
}