<div id="home__main" class="padding-1" fxLayout="column" fxLayoutGap="20px">
	<div fxFlex="10%">
		<mat-toolbar class="std-color">
			<span class="text__title">Welcome Back Matt!!!</span>
		</mat-toolbar>
	</div>

	<div id="home__public" fxFlex="250px">
		<div fxLayout="row" fxLayoutGap="40px">
			<div id="public__msg-brd" class="std-color" fxFlex="66%">
				<h3 class="text__title">AMCAS Announcements</h3>
				<mat-divider></mat-divider>
				<div id="msg-brd__main">
					<div class="msg-brd__msg" fxLayout="column">
						<b>Jerrod White</b>
						<p>2 Days Ago</p>
						<span fxFlex>
              Data Exchange Service is up and running again! Feel free to reach out if you continue to have issues!
            </span>
					</div>
					<mat-divider></mat-divider>
					<div class="msg-brd__msg" fxLayout="column">
						<b>Jerrod White</b>
						<p>2 Days Ago</p>
						<span fxFlex>
              Data Exchange Service is up and running again! Feel free to reach out if you continue to have issues!
            </span>
					</div>
					<mat-divider></mat-divider>
					<div class="msg-brd__msg" fxLayout="column">
						<b>Jerrod White</b>
						<p>2 Days Ago</p>
						<span fxFlex>
              Data Exchange Service is up and running again! Feel free to reach out if you continue to have issues!
            </span>
					</div>
					<mat-divider></mat-divider>

					<div class="msg-brd__msg" fxLayout="column">
						<b>Jerrod White</b>
						<p>2 Days Ago</p>
						<span fxFlex>
              Data Exchange Service is up and running again! Feel free to reach out if you continue to have issues!
            </span>
					</div>
				</div>
			</div>
			<div id="public__qls" class="std-color" fxFlex="33%">
				<h3 class="text__title">Quick Links</h3>
				<mat-divider></mat-divider>
        <ul class="qls__list">
          <li><a href="#">School Tools</a></li>
          <li><a href="#">AAMC.org</a></li>
          <li><a href="#">Sign up</a> for WebAdMIT</li>
          <li>Login into <a href="#">WebAdMIT</a></li>          
        </ul>
			</div>
		</div>
	</div>
</div>